body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #0a1f44;
    color: white;
    padding: 30px;
}

.image-section img {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 10px;
}

.info {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d4af37;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b8962e;
}
